* {
    margin: 0;
    padding: 0;
}

.Input {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    justify-content: center;
}

.Input input {
    width: 50%;
}
.Inputs {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 0.3rem;
}
.Input label, .Input input {
    width: 75%;
}
.Auth {
    display: flex;    
    justify-content: space-evenly;
}
.Btn {
    padding: 0.2rem 0.4rem;    
}
.AuthMsg {
    width: 50%;
}
.Invalid {
    color: red;
}
.Valid {
    color: green;
}
.Special {
    width: 30%;
    align-self: center;
}
.Modify {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-self: center;
}
