.Machine {
    display: flex;
    flex-direction: row;
    gap: 0.4rem ;    
}
.Machines {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 0.6rem;
}
.Machine p {
    margin: 0;
}
.Title {
    color: green;
    font-weight: bold;    
}