.AddComputer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;    
    align-items: center;
}
.Input {
    display: flex;
    gap: 0.2rem;
    justify-content: center;
}
.Input input {
    width: 10rem;    
}
.Btn {
    padding: 0.5rem 0.7rem;
    outline: none;
    border: none;
    background-color: rgb(202, 247, 202);
    cursor: pointer;
}
.Btn:hover {
    background-color: rgb(150, 240, 150);
}