.computer {
    display: flex;
    /* border: 1px solid green; */
    justify-content: center;    
}
.form {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    width: 40%;
}
.submit, .display {
    grid-column: 1 / span 2;
    width: 40%;
    margin: auto;
}
